
<!navigation bar>

<nav class="navbar navbar-expand-lg navbar-black bg-light">
  <a class="navbar-brand" href="https://dejourn.com/aboutus">Dejourn</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="https://dejourn.com/feed">Feed <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Profile</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Discussion Topics
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="https://dejourn.com/domain/1596611191421482368/culture">Culture</a>
          <a class="dropdown-item" href="https://dejourn.com/domain/1590569896517541760/movies">Movies</a>
          <a class="dropdown-item" href="https://dejourn.com/domain/1586119511986602368/conspiracy-theory">Consipiracy Theories</a>
          <a class="dropdown-item" href="https://dejourn.com/domain/1591611321862129280/law-and-order">Law and Order</a>
          <a class="dropdown-item" href="https://dejourn.com/domain/1593250276860465024/data-science">Data Science</a>
          <a class="dropdown-item" href="https://dejourn.com/domain/1593695929192975488/marketing">Marketing</a>
          <a class="dropdown-item" href="https://dejourn.com/domain/1586116752423900288/covid-19">COVID</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="https://docs.google.com/forms/d/e/1FAIpQLSei7sj7xwYRFhNLTSiN5EOKmeskWbQvcJe49URVq5005CRsxg/viewform">Add Domain</a>
        </div>
      </li>







      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          User
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Sign-up</a>
          <a class="dropdown-item" href="#">Log-In</a>
          <a class="dropdown-item" href="#">Reset Password</a>
        </div>
      </li>








      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Notifications</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>




<!main body including the heading, the texts, the link and the buttons>


<div class="container">



<div class="jumbotron">
  <h3 class="display-4">UGC being Adamant | How would you characterize UGC's attitude towards the students and exams?</h3>
  <p class="lead">by Kriti Laha</p>
  <hr class="my-4">
  <p>UGC remained adamant on its decision of not cancelling the final year exams, asking all universities of conducting final year exams by September end, saying July 6, 2020 revised guidelines offer sufficient flexibility and are intended to protect the academic future of students.

    </p>

    <p>
      Source: https://www.indiatvnews.com/education/news-ugc-exam-guidelines-supreme-court-hearing-final-year-exams-cancellation-postponement-plea-updates-638460
      </p>>
      <img _ngcontent-emj-c67="" onerror="this.onerror=null;this.src='';" alt="UGC Exam Guidelines: Supreme Court refuses to pass interim order, next hearing on August 10 | Highlights" src="https://resize.indiatvnews.com/en/resize/newbucket/715_-/2020/07/supreme-court-ugc-hearing-1596168006.jpg" class="ng-star-inserted" style="height: 600px;">
 <p> 
  <br/><a class="btn btn-primary btn-lg" href="https://www.indiatvnews.com/education/news-ugc-exam-guidelines-supreme-court-hearing-final-year-exams-cancellation-postponement-plea-updates-638460" role="button">Learn more</a>
  <br/>
  <br/>
 



<!-- Button trigger modal for agree -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
  Agree
</button>

<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="Agree" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Agree">Message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Thank You for your response!!!!                     
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Okay</button>
      </div>
    </div>
  </div>
</div>



<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
  Disagree
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>



  
</div>
</div>




<!comment box>
<app-comment></app-comment>


<hr>



<router-outlet></router-outlet>